@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@700&family=Space+Grotesk:wght@400;500;600;700&display=swap');
.center-div{
    width: 85.375rem;
    height: 48rem;
}
.head{
    color: #000000;
    /* leading-trim: both;
    text-edge: cap; */
    font-family: Smooch Sans;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.inputs{
    /* width: 22.75rem;
    height: 3.25rem; */
    /* flex-shrink: 0; */
    color:  #ffffff;
}
.form-control:focus {
    box-shadow: 0 0 0 1px rgb(0, 0, 0);
}
.inputs i{
    color: black;
}
.btn-full-width {
    display: block;
    width: 100%;
    height: 100%;
}
.custom-text {
    font-size: 13px; /* Adjust the font size as needed */
}
/* .image{
    height: 40; 
    width: 30;
} */
.imagediv{
    display: flex ;
    justify-content:center;
    margin-top:24px;
}
.imagediv2{
    display: flex ;
    justify-content:center;
}
.content{
    width: 30vw; 
    height: 565.6px;
    margin-left: 50px;
}
.content2{
    height: 427.735px; 
    width: 25vw;
    margin-left: 50px;
}
.custom-rounded-left {
    border-radius: 2rem 0 0 2rem; /* Top-left and bottom-left corners will be rounded */
}
.main{
    width: min-content; 
    height: auto;
    border: 1px solid black;
    background-color: rgba(119, 119, 119, 0.556);
}
.main2{
    padding: 0px;
    width: min-content; 
    height: auto;
    border: 1px solid black;
    background-color: rgba(144, 144, 144, 0.53);
}
.card-body{
    margin-left: 30px;
    margin-right: 30px;
}
.card-body2{
    margin-right: 30px;
}
@media (max-width: 990px) {
    .imagediv, .imagediv2{
        display: none;
    }
    .content{
        margin: 0px;
        width: 80%;
    }
    .content2{
        margin: 0px;
        width: 80%;
    }
    .main{
        width: 55.234375vw;
    }
    .main2{
        width: 46.028645833333336vw;
    }
}
@media (max-width: 780px) {
    .main{
        width: 100%;
    }
    .main2{
        width: 100%;
    }
    .card-body{
        margin-left: 0px;
        margin-right: 0px;
    }
    .card-body2{
        margin-right: 0px;
    }
}
body{
    height: 707px;
    display: grid;
    place-items: center; 
    background: linear-gradient(to top right, rgb(0, 0, 0), #404040); /* Replace #ffffff with white's hex code if needed */
}

